@model Contrib.ContentReference.ViewModels.ContentReferenceFieldViewModel
@using Contrib.ContentReference.Settings
@{
    var settings = Model.Field.PartFieldDefinition.Settings.GetModel<ContentReferenceFieldSettings>();
}
<fieldset>
    <label for="@Html.FieldIdFor(m => m.Identifier)">@Model.Field.DisplayName</label>
    @Html.DropDownListFor(m => m.Identifier, Model.ItemList)
</fieldset>
