@using Orchard.ContentManagement
@using Orchard.Utility.Extensions;
@{
    bool isLink = Model.DisplayAsLink;
    string name = Model.ContentField.DisplayName;

    <p class="enumeration-field enumeration-field-@name.HtmlClassify()">
        <span class="name">@name</span>
        <ul>
            @foreach (Tuple<string, IContent> item in Model.ContentItems)
            {
                var title = item.Item1;
                if (String.IsNullOrEmpty(title))
                {
                    continue;
                }

                if (isLink)
                {
                    <li class="value">@Html.ItemDisplayLink(Html.Raw(title).ToString(), item.Item2)</li>
                }
                else
                {
                    <li class="value">@Html.Raw(title)</li>
                }
            }
        </ul>
    </p>
}